@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    outline: none;
}

.group[data-active=true] > .icon-dynamic-fill {
    font-variation-settings: 'FILL' 1 !important;
}

.scrollbar-pretty::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.scrollbar-pretty::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.overlay {
    @apply fixed inset-0 backdrop-blur-sm bg-black/30 flex items-center justify-center
}

.modal-container {
    @apply p-4 rounded-xl bg-black border border-neutral-800 min-w-[600px] relative
}